<div style = "width: 300px; margin-top: 150px">
	<%= form_for [:admin, @production] do |f| %>
		<p><%= f.label :name %></p>
		<p><%= f.text_field :name , class: 'form-control', placeholder: 'production name' %></p>
		<p><%= f.label :brand %></p>
		<p><%= f.select :brand, options_for_select(Production.brands) %></p>
		<p>
			<%= f.text_field :url, class: 'form-control', placeholder: 'image_url' %>
		</p>
		<p>
			<%= f.file_field :image %>
		</p>
		<%= f.fields_for :production_details do |production_detail| %>
			<%= render 'production_detail_fields', f: production_detail %>
		<% end %>
		<div class ="links">             
	    <%= link_to_add_association 'Add details', f, :production_details, class: 'btn btn-primary' %> 
	  </div>
		<%= f.submit 'update', class: 'btn btn-primary' %>	
	<% end %>
</div>