<style type="text/css">
  #dialog-infor{
    border: none;
  }
</style>
<% Order.order_deliver.each do |order| %>
<p>
  <% order.order_details.each do |detail| %>
   <%= detail.production_detail.production.name %>: <%= detail.quantity %>,
  <% end %></p>
   
<% end %>



  <input type="hidden" name="current_user" value = "<%= current_user.id %>">

<div class="container" style = "height: 30%">
  
  <div id="myCarousel" class="carousel slide production-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" style = "display: none">
      <% array_production.each_with_index do |p,i| %>
        <li data-target="#myCarousel" data-slide-to="0" class="<% if i == 0 %><%= 'active' %> <% end %>"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% array_production.each_with_index do |p,i| %>
        <div class="item <% if i == 0 %><%= 'active' %> <% end %>">
        
            <div class = 'row'>
              <div class="row row-cols-6" >
                <% p.each do |production| %>
                  <div class="d-flex flex-column text-center col-sm-2">
                    <div>
                      <% if production.url.present? %>
                    <dialog id = "dialog-infor<%= production.id %>" style = "display: none" open></dialog>

                        <%= link_to image_tag( production.url, width: "100%" ), production_path(production), id: "count-#{production.id}", class: "click-in-production", data: {id: "#{production.id}"} %>
                      <% else %>
                        <%= link_to image_tag('https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-195420-015412-400x400.png', width: "100%" ), production_path(production), id: "count-#{production.id}", class: "click-in-production", data: {id: "#{production.id}"} %>
                      <% end %>
                    <div class = ""><%= production.name %></div>
                    </div>
                  </div>
                <% end %> 
              </div>
            </div>
        </div>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <div id="linkcarousel" style = "display: none">
      
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div>
  
  <%= render @productions %>
</div>
<script type="text/javascript">
  $(document).ready(function(){

    $('#clicksub').click(function(){
       debugger 
      var array1 = [1, 2, 3, 4, 5, 6];
      var array2 = [1, 2, 3, 4, 5, 6, 7, 8, 9];
      var difference = [];

      $.grep(array2, function(el) {
              if ($.inArray(el, array1) == -1) {difference.push(el);}
      });
      $('.array-text').html('<button>'+difference+'</button>')
    })
   
 
  })
  $('.click-in-production').mouseenter(function(){
    var id = $(this).data('id');
    var x = $('#dialog-infor'+id)
    debugger
    $.ajax({
      url: '/infors/'+id,
      type: 'get',
      dataType: 'json',
      data: {
        id: id
      }, 
      success: function(data){
        debugger
          x.show()
          x.html('<p>' + data.name + '</p>'+'<p>' + data.roms + '</p>'+'<p>' + data.rams + '</p>');
      }
    })
  })
   $('.click-in-production').mouseleave(function(){
    var id = $(this).data('id');
    var x = $('#dialog-infor'+id)
    x.hide()
      
  })

</script>


<div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list <span class = "hide-show">X</span></h3>
      </div>
      <div class="panel-body">
        <ul class = "toggle">
          <% @users.each do |user| %>
            <li><%= link_to gravatar_for(user, size: 50), conversations_path(user_id: user), remote: true, method: :post %>
              <%= link_to user.fullname, conversations_path(user_id: user), remote: true, method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.hide-show').click(function(){
      $('.toggle').toggle()
    })
  })
</script>
  