<style type="text/css">
	footer {
		margin-top: 100px;
		background-color: #DCDCDC;
		font-size: 20px ; 
		opacity: 70%;
		padding-bottom: 30px; 
	}
	.column {
	  float: left;
	  width: 25%;
	  text-align: center;
	  opacity: 100%;
	}
	li {
		list-style: none;
	}
	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

</style>
<footer class="footer">
	<div class = "container" >
			<div class="row">
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
	
</footer>